site_name: Venturalitica
site_description: Frictionless Governance for AI.
site_url: https://venturalitica.github.io/venturalitica-sdk/
repo_url: https://github.com/Venturalitica/venturalitica-sdk
repo_name: venturalitica-sdk

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - content.code.copy
    - navigation.top
    - search.suggest

plugins:
  - search

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - tables

nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Training: training.md
  - API Reference: api.md
